<section class="allocation">
    <div class="container">
        <h1 class="text-center">Allocation Details</h1>
        <table class="table table-hover">
            <thead class="thread-light">
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Fuel Station ID</th>
                <th scope="col">Schedule Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</section>
